@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
<div class="p-5 mb-4 bg-dark rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Make it count.</h1>
        <p class="col-md-8 fs-4">Tiplr is a simple, cost effective solution for small business owners to maintain accurate inventories. Create streamlined and consistent orders that will save time and money. </p>
        <p><a href="@Url.Action("Index","Category")" class="btn btn-primary btn-lg">Get Started</a></p>
    @*<button class="btn btn-primary btn-lg" type="button">Get Started</button>*@
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coming Soon</h2>
        <p>
            Here's what you can look forward to in the January v.1.0.1 release:
            <ul>
                <li>Vendor based ordering</li>
                <li>Sheet to shelf sequencing options in the count sheet</li>
                <li>Separate count sheets by area</li>
            </ul>
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Here's a picture of my dog.</h2>
        <p>Click the button, you know you want to...</p>
        <p><a class="btn btn-default" href="https://photos.app.goo.gl/yKFT6CUSQu63nHkN8" target="_blank">SHOW ME DOG &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About the author</h2>
        <p>Learn more about this recent Eleven-Fifty grad at the link below.</p>
        <p><a class="btn btn-default" href="https://petersjohn.github.io/Portfolio/" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>